<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>
    <header th:replace="layout/layout ::header"></header>

    <div class="container">
        <div class="card shadow-lg my-4">
            <div class="card-header">
                <h1 class="text-dark text-center border border-dark border-top-0 border-left-0 border-right-0"
                    th:text="${titulo}"></h1>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Profesor</th>
                        <th>Ver</th>
                    </thead>
                    <tbody>
                        <tr th:each="curso : ${cursos}">
                            <td th:text="${curso.id}"></td>
                            <td th:text="${curso.nombre}"></td>
                            <td th:text="${curso.profesor}"></td>
                            <td><a class="btn btn-info" th:href="@{/ver/}+${curso.id}">Ver</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>